# Systemd USER file for Battery Poller
# Goes in ~/.config/systemd/user

[Unit]
Description=Ecoworthy Battery BLE Poller (%i)
After=network-online.target bluetooth.service

[Service]
ExecStart=/path/to/venv/bin/python /path/to/ecoworthy-battery-monitor.py \
    -m %i \
    -i 10 \
    -d /path/to/batt-%i.db \
    -v
Restart=on-failure

[Install]
WantedBy=default.target
